.spacer {
  display: flex; 
  justify-content: space-between;
}

.mat-toolbar.mat-primary{
    background: #009d00;
}

.logo {
  width: 50px;
  margin-right: 10px;  
}

mat-drawer-content {
  height: 100vh;
}
