<div class="container pt-5">
    <div class="row">
        <div class="col pe-4">
            <h3 class="test">Warum easyMensa</h3>
            <ul>
                <li>50 Cent Rabatt pro Online-Bestellung</li>
                <li>Einfaches Bestellsystem</li>
                <li>Einfaches Bestellsystem</li>
            </ul>
            <h3>Unser Schulessen</h3>
            <p>{{unserSchulEssen}}</p>
        </div>
        <div class="col">
            <h3>Unsere Geschichte</h3>
            <p>{{unsereGeschichte}}</p>
        </div>
    </div>
</div>

