<div class="container pt-5">
    <div class="row">
        <div class="col">
            <h3 class="test">Warum easyMensa</h3>
            <ul>
                <li><span>50 Cent</span> Rabatt pro Online-Bestellung</li>
                <li>Einfaches Bestellsystem</li>
                <li>Einfaches Bestellsystem</li>
            </ul>
            <h3>Unser Schulessen</h3>
            <p>{{unserSchulEssen}}</p>
        </div>
        <div class="col">
            <div class="row">
                <h3>Registrieren</h3>
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
            <div class="row mt-3">
                <h3>Auswahl aus unseren Menüs</h3>

            </div>

            <h3>Unsere Geschichte</h3>
            <p>{{unsereGeschichte}}</p>
           

        </div>
    </div>
</div>

